#detailcontainer{
    /* width: 100%; */
    height: auto;
    /* margin-left: 10%; */
    /* background-color: blanchedalmond; */

}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1{
    width: 80%;
    height: 150vh;
    /* background-color: blueviolet; */
    margin-left: 10%;
   
}
.name{
    width: 100%;
    height: 400px;
   
}
.name h1{
    margin-top: 20px;
    margin-left: 44%;
    font-size: 48px;
    font-family: "Risque", serif;
    font-weight: 400;
    font-style: normal;
}
.name h5{
    margin-top: 13px;
    margin-left: 47%;
    font-size: 19px;
}
.name img{
    width: 893px;
    height: 600px;
    margin-top: 40px;
    margin-left: 20%;
    
}

audio{
    width: 95%;
    margin-left: 45px;

}
@media screen and (max-width: 768px) {
    .img1, .name {
        width: 90%; 
        margin-left: 5%; 
    }
}
@media screen and (max-width: 768px) {
    .name h1 {
        margin-left: 10%; 
        font-size: 5vw; 
    }

    .name h5 {
        margin-left: 50%; 
        font-size: 15px; 
    }

    .name img {
        width: 90%; 
        margin-left: 5%; 
    }
}



