*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: auto;
}
.background-image{
    background-image: url(pngtree-childrens-day-childrens-pink-image_15548391.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.main{
    display: flex;
   
}
.left{
    width: 30%;
    height: 600px;
    background-color: rgba(169, 169, 169, 0.361);
    margin-top: -800px;
    margin-left:250px;
}
.rigth{
    width: 30%;
    height: 600px;
    background-color:  rgba(169, 169, 169, 0.361);
    margin-top: -800px;
    margin-left: 250px;
}