/* .container{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: aqua;
} */
body{
    background-image: url(pngtree-childrens-day-childrens-pink-image_15548391.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


      
.main{
    width: 100%;
    height: 1000px;
    display: flex;
    margin-top: 140PX;
    font-family: "Risque", serif;
    font-weight: 400;
    font-style: normal;
}
.left{
    width: 50%;
    height: 65%;
    background-color: rgba(105, 105, 105, 0.604);
    border-radius: 40px;
}
.right{
    width: 50%;
    height: 65%;
    background-color: rgba(105, 105, 105, 0.604);
    margin-left: 10%;
    border-radius: 40px;
}
.left h1{
    margin-left: 30%;
    margin-top: 30px;
  
   
}
.number h2{
    margin-top: 50px;
    margin-left: 29%;
}
.number i{
    font-size: 45px;
    margin-left: 7%;
    margin-top: 20px;
}
.number h3{
    margin-top: -20%;
    margin-left: 80px;
}
.address h2{
    margin-left: 38%;
    margin-top: 30px;
}
.address i{
    font-size: 45px;
    margin-left: 6%;
    margin-top: 20px;
}
.address h3{
    margin-top: -8%;
    margin-left: 70px;
}
.gmail h2{
    margin-top: 7%;
    margin-left: 40%;
}
.gmail i{
    font-size: 50px;
    margin-left: 5%;
}
.gmail h3{
    margin-top: -9%;
    margin-left: 20%;
}
.right h1{
    margin-left: 32%;
    margin-top: 20px;
}
.right h2{
    margin-top: 40px;
    margin-left: 3%;
}